## sqlite
#
defaults: &defaults
  adapter: sqlite3
  pool: 5
  timeout: 5000

development:
  <<: *defaults
  database: db/development.sqlite3

test:
  <<: *defaults
  database: db/test.sqlite3

## postgresql
#
# defaults: &defaults
#   adapter: postgresql
#   encoding: utf8
#   database: irails
#   host: 127.0.0.1

# development:
#   <<: *defaults

# staging:
#   <<: *defaults
#   database: irails_staging

# production:
#   <<: *defaults
#   database: irails_production

# test:
#   <<: *defaults
#   database: irails_test