defaults: &defaults
  sessions:
    default:
      database: irails_development
      hosts:
        - localhost:27017
  options:
    include_root_in_json: false

development:
  <<: *defaults

staging:
  <<: *defaults
  sessions:
    default:
      database: irails_staging

production:
  <<: *defaults
  sessions:
    default:
      database: irails_production

test:
  <<: *defaults
  sessions:
    default:
      database: irails_test
