/* GLOBAL */
html { background: url('bg.jpg') 0 0 repeat #aaa; }
body { cursor: default; font: 400 12px/1.2 'Open Sans', Tahoma, Arial, sans-serif; }
strong, b { font-weight: 700; }
em, i { font-style: italic; }
input, textarea { cursor: text; }
a, label, select, button, input[type=button], input[type=submit], input[type=checkbox], input[type=radio] { cursor: pointer; }

/* GENERAL */
.fleft { float: left; }
.fright { float: right; }
.hide { display: none; }
.alignleft { text-align: left; }
.aligncenter { text-align: center; }
.alignright { text-align: right; }
.clear { clear: both; }

/* STYLES */

a {
	color: #C02942;
	&:hover {
		text-decoration: none;
	}
}

#wrapper {
	width: 930px;
	padding: 15px;
	margin: 40px auto;
	background: #fff;
	min-height: 400px;
	@include box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.4));
	&.sessions-new,
	&.registrations-new,
	&.confirmations-new,
	&.passwords-new,
	&.registrations-edit {
		margin: 40px auto;
		width: 430px;
		min-height: 200px;
		header {
			width: 460px;
		}
	}
}

header {
	width: 960px;
	position: relative;
	left: -15px;
	margin: 0 0 10px;
	background: url('bg-title.png') 0 0 repeat;
	overflow: hidden;
	.site-logo {
		padding: 0;
		height: 22px;
		margin: 0 7px;
		float: left;
		a {
			display: block;
			padding: 0 8px;
			font-size: 22px;
			font-weight: 700;
			line-height: 1;
			color: #555;
			text-decoration: none;
			background: #fff;
		}
	}
	nav.site-navigation {
		float: right;
		margin: 0 7px 0 7px;
		li {
			float: left;
			background: #fff;
			padding: 2px 8px;
			height: 18px;
			font-size: 9px;
			text-transform: uppercase;
			font-weight: 700;
			margin: 0 0 0 12px;
			line-height: 16px;
			a {
				color: #666;
				text-decoration: none;
				&.active {
					color: #CC333F;
				}
			}
			&.name {
				img {
					float: left;
					height: 24px;
					margin-top: -4px;
					margin-right: 6px;
				}
			}
		}
	}
}

/* CLEARFIX // Leave this at bottom */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
/* FIXES FOR IE */
* html .clearfix { zoom: 1; }
*+html .clearfix { zoom: 1; }