article.home {
	text-align: center;
	h1 {
		text-align: center;
		font-size: 26px;
		color: #333;
	}
	img {
		margin: 20px;
	}
}
.devise-links {
	a {
		color: #333;
		font-size: 14px;
		margin: 0 4px;
	}
}