.devise-links {
	width: 460px;
	position: relative;
	left: -15px;
	background: url('bg-separate.png') 2px 0 repeat-x;
	padding: 20px 0 0;
	margin: 12px 0 0;
	text-align: center;
	a {
		color: #333;
		font-size: 11px;
		margin: 0 6px;
	}
}

.cancel-account {
	width: 430px;
	padding: 10px 15px 0;
	margin: 10px 0 0;
	position: relative;
	left: -15px;
	background: url('bg-separate.png') 2px 0 repeat-x;
}

form.card {
  .date {
    width: 100%;
    select {
      width: 100px;
      float: left;
      margin-right: 15px;
    }
    span {
      position: relative;
      display: block;
      clear: both;
    }
  }
}

/* CREDIT CARD */
.about-card {
	.card-desc {
    li {
      padding: 5px 0;
      span {
        margin-left: 4px;
        color: #8b9a9d;
      }
    }
	}
}

/* PLACEHOLDER */
.input-holder {
  position: relative;
  span.error {
    top: 28px;
  }
}

.input-default {
  color: #ccc;
  position: absolute;
  top: -6px;
  left: 12px;
}