@import "bourbon";
@import "gritter";
@import "partials/reset";
@import "partials/typography";
@import "partials/layout";

// Pages

article.home {
	text-align: center;
	h1 {
		text-align: center;
		font-size: 26px;
		color: #333;
	}
	img {
		margin: 80px;
	}
}